body {
    background-color: #FFFFFF;
    background-image: url("../images/recipeImages/silverware.jpg");
    background-repeat: repeat;
}

p, li {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}

ol, ul {
    list-style-image: url('../images/recipeImages/pie_icon.gif');
}

a {
    color: #A4A400;
}


h1, h2, h3, h4, h5, h6 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, serif;
    text-decoration: underline;
    word-spacing: 0.25em;
}

.mainHeading > h3 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

section > h3 {
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
}

abbr {
    text-decoration: underline;
}

footer > p {
    text-align: right;
}

pre {
    background-color: #FFFFA8;
}