body {
    background-color: #595546;
    font-family: Verdana, serif;
}

hr {
    color: #817e73;
}

h2, h3 {
    color: #9db8f5;
}

h2 {
    font-size: 30px;
}

header h2 {
    font-size: 40px;
}

p:first-letter {
    float: left;
    font-size: 1.5em;
    padding: 0 0 10px 0;
    margin-right: 5px;
}

p, label {
    color: #FFFFFF;
}

ol, ul {
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

a:visited {
    color: #d06666;
}

a:link {
    color: #9db8f5;
}

a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

#movieDisclaimer {
    font-style: italic;
}

p > span.feeling {
    color: #eae584;
    font-weight: bolder;
}

dl > dt {
    color: #eae584;
}

ol {
    display: flex;
    flex-direction: column-reverse;
}

li {
    flex: 0 0 auto;
}