body {
    box-sizing: border-box;
    background-color: #f7f7f9;
    font-family: Verdana,Arial, sans-serif;
    color: #212529;
}

p {
    color: #99a0a6;
    font-size: 12px;
}

label {
    margin-bottom: 5px;
}

#container {
    display: grid;
    grid-template-rows: auto;
    padding: 20px;
    background-color: #ffffff;
}

#container > div {
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    padding-bottom: 10px;
}

button {
    background-color: #007bff;
    height: 45px;
    border-radius: 4px;
    color: #FFFFFF;
    border: 1px solid #007bff;
    padding: 14px;
    margin-top: 10px;
    font-size: 16px;
    width: 30%;
}

input {
    border: 1px solid #d9d9d9;
    height: 30px;
    border-radius: 4px;
    padding: 10px;
    color: #7a7c7f;
    font-size: 16px;
}

table {
    border: 0.5px solid;
    width: 100%;
    border-collapse: separate;
}

td {
    padding: 10px;
}