<div className="Products">
    <h4>All Products</h4>
    <button><a href="/product?id=0">Ugali</a></button>
    <button><a href="/product?id=1">Pork</a></button>
    <button><a href="/product?id=2">Cereals</a></button>
    <hr/>
</div>